# Dependencies
# --------------------------------

node_modules


# Build artifacts, Wercker stuff
# --------------------------------

build
_builds
_cache
_projects
_steps


# IDE realm
# --------------------------------

.idea


# Other goodness
# --------------------------------

_tmp
*.log
